<button type="button" class="close" id="close-message">&times;</button>


<form id="comment-form">
  <label for="message=recipient">Recipient</label>
  <input type="text" id="message-recipient">
  <label for="message=recipient">Subject</label>
  <input type="text" id="message-subject">
  <label for="message-body">Body</label>
  <input type="text" id="message-body">
  <button type="button" class="btn btn-primary" id="send-message">Send Message</button>  
</form>
