<div class="all-followers row">
<% user.followers.forEach(function(follower) { %>
  <div class="follow-view col-xs-2">
      <img src="<%= follower.avatar %>">
      <a href="#"><%= follower.username %></a>  
  </div>
<%  })%>
</div>