
<div class="row">
  <% user.posts().each(function(post){ %>
    <div class="col-xs-3">
        <a href= "<%= post.get('filepicker_url') %>" title="Picture" data-gallery>
        <img src="<%= post.get('filepicker_url') %>" title="Picture">
      </a>
      </a>
    </div>
  <% }) %>
</div>
<div id="new-message-view"></div>
<div id="messages-view"></div>
 <div id="show-view"></div>