<div class="row">
  <% posts.forEach(function(post){ %>
    <div class="col-xs-3">
      <a 
        href="#cool-modal" 
        class="thumbnail" 
        data-id="<%= post.attributes.id %>"
        data-toggle="modal"
        class="btn btn-primary">
        <img src="<%= post.attributes.filepicker_url %>" alt="200x200">
      </a>
    </div>
  <% }) %>
</div>




<div class="modal fade" id="cool-modal">

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Picture</h4>
    </div>
    <div class="modal-body">
      <p>I will cut you&hellip;</p>
      <div id="picture-goes-here"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
    </div><!-- /.modal-content -->

</div><!-- /.modal -->