
<div class="row">
  <% user.posts().each(function(post){ %>
    <div class="col-xs-3">
      <a 
        href="#cool-modal" 
        class="thumbnail" 
        data-id="<%= post.id %>"
        data-toggle="modal"
        class="btn btn-primary">
        <img src="<%= post.get('filepicker_url') %>" alt="200x200">
      </a>
    </div>
  <% }) %>
</div>
<div id="new-message-view"></div>
<div id="messages-view"></div>
 <div id="show-view"></div>