<img src="<%= post.attributes.filepicker_url %>">
<form id="comment-form" method="some_stuff_later">
  <textarea id="title-input" cols="30" rows="3" name="comment[body]"></textarea>
  <button type="button" class="btn btn-primary">Comment!</button>s  
</form>