  <table class="style-table">
    <tr>
      <td><button class="style-button sepia" data-toggle="button" data-style="sepia">Sepia</button></td>
      <td><button class="style-button blur" data-toggle="button" data-style="blur">Blur</button></td>
      <td><button class="style-button grayscale" data-toggle="button" data-style="grayscale">Grayscale</button></td>
      <td><button class="style-button saturate" data-toggle="button" data-style="saturate">Saturate</button></td>
    </tr>
    <tr>
      <td><button class="style-button invert" data-toggle="button" data-style="invert">Invert</button></td>
      <td><button class="style-button opacity" data-toggle="button" data-style="opacity">Translucent</button></td>
      <td><button class="style-button brightness" data-toggle="button" data-style="brightness">Bright!</button></td>
      <td><button class="style-button contrast" data-toggle="button" data-style="contrast">Contrast</button></td>
    </tr>
  </table>