/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 * access key id AKIAJJDQH5XYQJFAILTQ   secret access key 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
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("splash.jpg") ;
}

div#new-message-view {
  background: white;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  display: none;
  border: 2px solid;
  border-radius: 20px;
  position: fixed;
  top: 5%;
  left: 5%;
}

div#messages-view {
  background: white;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  display: none;
  border: 2px solid;
  border-radius: 20px;
  position: fixed;
  top: 5%;
  left: 5%;
}

div#show-view {
  background: white;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  display: none;
  border: 2px solid;
  border-radius: 20px;
  position: fixed;
  top: 5%;
  left: 5%;
}


div#image-container {
  display: inline-block;
  width: 50%;
  left: 25%;
  height: 100%;
  padding: 10px;
}

div#form-container {
  display: inline-block;
  height: 100%;
}
