/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "bootstrap-sprockets";
@import "bootstrap";


.gallery .caption { margin: 5px 0 15px; padding: 0 15px; }
.gallery [class^="col-"] { padding: 0; }

@media (min-width: 768px) {
.gallery .row { margin: 0; }
.gallery .caption { display: none; }
}


//
//body {
//  background-color: #ffdddd;
////  background-image: url("splash.jpg") ;
//}




div#new-message-view {
  background: white;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  display: none;
  border: 2px solid;
  border-radius: 20px;
  position: fixed;
  top: 5%;
  left: 5%;
}

div#messages-view {
  background: white;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  display: none;
  border: 2px solid;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 600000000;
}

textarea.message-body {
  position: absolute;
  width: 100%;
  height: 50%;
  display: block;
  resize: none;
}

button#send-message {
  display: block;
  position: absolute;
  top: 80%;
}

div#messages-view .enter-recipient {
  border: none;
  outline: none;
  border-bottom: #DDDDDD solid thin;
  display: block;
  width: 100%;
}



div#show-view {
  background: white;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  display: none;
  border: 2px solid;
  border-radius: 20px;
  position: fixed;
  top: 5%;
  left: 5%;
}



div#image-container {
  display: inline-block;
  width: 50%;
  left: 25%;
  height: 100%;
  padding: 10px;
}
//
div#form-container {
  display: inline-block;
  height: 100%;
}

tr.unread {
  background: #EFEFEF;
}


nav.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 139px;
    border-bottom: 1px solid #ddd;
    z-index: 500000000000000000000000;
}
nav.header .super {
    background-color: #2D2D2D;
    padding-left: 16px;
}
nav.header .super a {
    display: inline-block;
    padding: 2px 8px;
    font-weight: bold;
    color: #aaa;
}
#logo {
    margin:0 32px 0 16px;
}
nav.header .search {
    padding: 4px;
    border-bottom: 1px solid #ddd;
    background-color: #f3f3f3;
}
nav.header .controls {
    padding: 8px 16px;
}
nav.header .controls h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    color: #DD4B39;
    display: inline-block;
    width: 160px;
}
#side {
    position: absolute;
    top: 140px;
    left: 0;
    bottom: 0;
    padding: 8px;
    width: 164px;
    background-color: #f5f5f5;
    overflow: auto;
}

div.middle-pane {
  display: none;
}

div.middle-pane.being-viewed{
  display: block;
}


.table tr.for-message:hover {
  background: green;
}



#content {
    position: absolute;
    top: 140px;
    left: 196px;
    bottom: 0;
    right: 0;
    overflow: auto;
}

#content h2{
    font-size: 16px;
    font-weight: normal;
}

.btn .caret {
    margin-left: 16px;
}
.unread-message {
    text-align: center;
    margin: 1em;
}
#compose-button {
    width: 120px;
    margin-bottom: 2em;
}


